body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 
.navbar {
  padding: 10px 10px;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  align-self: center;
  list-style: none;
  margin-bottom: 1vh;
  background-color: rgb(32, 19, 2);
}

ul {
  justify-content: center;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;  
}

li {
  list-style: none;
}

.nav-item {
  text-decoration: none;
  padding : 10px 20px;
  color:rgb(206, 203, 203);
  font-size: 30px;
  list-style: none;
}


.link {
  text-decoration: none;
}

.nav-item:hover {
  color:  tan;
  list-style: none;
  text-decoration: none;
} 


.hero-container {
 background-image: url(./assets/img/blur-1972569_1920.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn-medium {
  padding: 8px 20px;
  font-size: 20px
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--medium:hover, 
.btn--large:hover {
  background: #fff;
  color:#242424;
  transition: all 0.3s ease-out;
}